
<h1><%= @profile[:alias] %></h1>
<img src="#{<%= @profile[:image_src] %>}" />

<h3>Identity: </h3><%= @proflie[:name] %>
<h3>Employer:</h3><%= @profile[:employer] %>
<%= http://www.youtube.com/watch?v="#{@vidoe[:id]}"%>


